<?php
/**
 * FedEx Cross Border component
 *
 * @category    FedEx
 * @package     FedEx_CrossBorder
 * @author      Andrey Rapshtynsky <andrey.bh@gmail.com>
 * @copyright   FedEx (https://crossborder.fedex.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/** @var \FedEx\CrossBorder\Block\WelcomeMat $block */
?>
<?php if ($block->canShow()): ?>
    <div class="welcome_mat_button" data-trigger="welcome-mat-trigger"><img src="<?= $block->getViewFileUrl('FedEx_CrossBorder::images/flags/' . strtolower($block->getHelper()->getSelectedCountry()) . '.svg') ?>" alt="" title="<?= __('Change country') ?>"></div>
    <div id="welcome_mat">
        <div class="content">
            <?= $block->getContent() ?>
        </div>
    </div>
    <script>
        require(
            [
                'FedEx_CrossBorder/js/model/welcome-mat'
            ],
            function(welcomeMatModel) {
                'use strict';

                welcomeMatModel.countryData = <?= json_encode($block->getCountryData()) ?>;
                welcomeMatModel.autoOpen = <?= $block->isAutoOpen() ? 'true' : 'false' ?>;
                welcomeMatModel.init();
            }
        );
    </script>
<?php else: ?>
    <div class="switcher fdxcb-country-selector">
        <div class="actions dropdown options switcher-options">
            <div class="action toggle switcher-trigger"
                 id="switcher-country-trigger"
                 data-mage-init='{"dropdown":{}}'
                 data-toggle="dropdown"
                 data-trigger-keypress-button="true"
            >
                <img src="<?= $block->getViewFileUrl('FedEx_CrossBorder::images/flags/' . strtolower($block->getHelper()->getSelectedCountry()) . '.svg') ?>" alt="" title="<?= __('Change country') ?>">
            </div>
            <ul class="dropdown switcher-dropdown" data-target="dropdown">
                <?php foreach ($this->getHelper()->getAvailableCountries()->toOptionArray() as $_code => $_data) : ?>
                    <?php if (!empty($_code) && $_code != $block->getHelper()->getSelectedCountry()) : ?>
                        <li class="switcher-option">
                            <a href="#" data-post='<?= $block->getCountryPostData($_code) ?>'>
                                <img src="<?= $block->getViewFileUrl('FedEx_CrossBorder::images/flags/' . strtolower($_code) . '.svg') ?>" alt="" title="<?= $block->escapeHtml($_data['label']) ?>">
                                <span><?= $block->escapeHtml($_data['label']) ?></span>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>

