<?php
/**
 * FedEx Cross Border component
 *
 * @category    FedEx
 * @package     FedEx_CrossBorder
 * @author      Andrey Rapshtynsky <andrey.bh@gmail.com>
 * @copyright   FedEx (https://crossborder.fedex.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
/** @var $block \Magento\Sales\Block\Adminhtml\Order\Totals\Tax */
/** @var $_source \Magento\Sales\Model\Order\Invoice */
?>
<?php
$_source    = $block->getSource();
$_order     = $block->getOrder();
$_fullInfo  = $block->getFullTaxInfo();
$_taxTitle = __(
    $_order->getExtensionAttributes() && $_order->getExtensionAttributes()->getFdxcbData() ?
        'Duty & Tax' :
        'Tax'
);
$_totalTaxTitle = __(
    $_order->getExtensionAttributes() && $_order->getExtensionAttributes()->getFdxcbData() ?
        'Total Duty & Tax' :
        'Total Tax'
);
?>

<?php if ($block->displayFullSummary() && $_fullInfo) : ?>
<tr class="summary-total" onclick="expandDetails(this, '.summary-details')">
<?php else : ?>
<tr>
    <?php endif; ?>
    <td class="label">
        <div class="summary-collapse" tabindex="0">
            <?php if ($this->helper(\Magento\Tax\Helper\Data::class)->displayFullSummary()) : ?>
                <?= $block->escapeHtml($_totalTaxTitle) ?>
            <?php else : ?>
                <?= $block->escapeHtml($_taxTitle) ?>
            <?php endif;?>
        </div>
    </td>
    <td>
        <?= /* @noEscape */ $block->displayAmount($_source->getTaxAmount(), $_source->getBaseTaxAmount()) ?>
    </td>
</tr>
<?php if ($block->displayFullSummary()) : ?>
    <?php $isTop = 1; ?>
    <?php if (isset($_fullInfo[0]['rates'])) : ?>
        <?php foreach ($_fullInfo as $info) : ?>
            <?php if (isset($info['hidden']) && $info['hidden']) :
                continue;
            endif; ?>
            <?php
            $percent    = $info['percent'];
            $amount     = $info['amount'];
            $baseAmount = $info['base_amount'];
            $rates      = $info['rates'];
            $isFirst    = 1;
            ?>

            <?php foreach ($rates as $rate) : ?>
                <tr class="summary-details<?= ($isTop ? ' summary-details-first' : '') ?>" style="display:none;">
                    <?php if ($rate['percent'] !== null) : ?>
                        <td class="admin__total-mark"><?= $block->escapeHtml($rate['title']) ?> (<?= (float)$rate['percent'] ?>%)<br /></td>
                    <?php else : ?>
                        <td class="admin__total-mark"><?= $block->escapeHtml($rate['title']) ?><br /></td>
                    <?php endif; ?>
                    <?php if ($isFirst) : ?>
                        <td rowspan="<?= count($rates) ?>"><?= /* @noEscape */ $block->displayAmount($amount, $baseAmount) ?></td>
                    <?php endif; ?>
                </tr>
                <?php
                $isFirst = 0;
                $isTop = 0;
                ?>
            <?php endforeach; ?>
        <?php endforeach; ?>
    <?php else : ?>
        <?php foreach ($_fullInfo as $info) : ?>
            <?php
            $percent    = $info['percent'];
            $amount     = $info['tax_amount'];
            $baseAmount = $info['base_tax_amount'];
            $isFirst    = 1;
            ?>
            <tr class="summary-details<?= ($isTop ? ' summary-details-first' : '') ?>" style="display:none;">
                <?php if ($info['percent'] !== null) : ?>
                    <td class="admin__total-mark"><?= $block->escapeHtml($info['title']) ?> (<?= (float)$info['percent'] ?>%)<br /></td>
                <?php else : ?>
                    <td class="admin__total-mark"><?= $block->escapeHtml($info['title']) ?><br /></td>
                <?php endif; ?>
                    <td><?= /* @noEscape */ $block->displayAmount($amount, $baseAmount) ?></td>
            </tr>
            <?php
            $isFirst = 0;
            $isTop = 0;
            ?>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif;?>

