<?php
/**
 * FedEx Cross Border component
 *
 * @category    FedEx
 * @package     FedEx_CrossBorder
 * @author      Andrey Rapshtynsky <andrey.bh@gmail.com>
 * @copyright   FedEx (https://crossborder.fedex.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    /** @var FedEx\CrossBorder\Model\ProductValidator $productValidator */
    $productValidator = $objectManager->get(\FedEx\CrossBorder\Model\ProductValidator::class);
    $isAvailable = $productValidator->isProductAvailable($_product);
?>
<?php if ($_product->isSaleable() && $block->hasOptions()) :?>
    <div class="bundle-actions">
    <?php if ($isAvailable): ?>
        <button id="bundle-slide"
                class="action primary customize"
                type="button">
            <span><?= $block->escapeHtml(__('Customize and Add to Cart')) ?></span>
        </button>
    <?php else: ?>
        <div data-fdxcb-name="warning"><?= $block->escapeHtml(__(\FedEx\CrossBorder\Model\ProductValidator::ERROR_PRODUCT_NOT_AVAILABLE)) ?></div>
    <?php endif; ?>
    </div>
<?php endif;?>
